/* div {
    border: 2pt solid black;
}

table {
    margin: auto;
    width: 100%;
} */

td {
    border: 2px solid black;
    padding: 10px;
    margin: 10px;
}
.departureItem {
    background-color: lightblue;
}